<table class="table">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @inventories %>
  </tbody>
</table>