<article class="message is-danger">
  <div class="message-header">
    <p><%= pluralize(object.errors.count, "error") %> prohibited this record from being saved</p>
  </div>
  <div class="message-body">
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</article>