<div class="content">
  <h3>Products</h3>
  <% if flash[:error] %>
    <%= render 'shared/flash_error', flash: flash %>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th>SKU</th>
        <th>Name</th>
        <th>Quantity</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @products %>
    </tbody>
  </table>
</div>