<div class="content">
  <h3>Shipments</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Shipment ID</th>
        <th>Customer Name</th>
        <th>Total Value</th>
        <th>Created at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @shipments %>
    </tbody>
  </table>
</div>