<div class="content">
  <h3>Shipment ID: <%= @shipment.id %></h3>
  <table class="table">
    <thead>
      <tr>
        <th>SKU</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <%= render @shipment.shipment_items %>
    </tbody>
  </table>
</div>
